In [1]:
import pandas as pd

In [2]:
taxi_df = pd.read_csv('data/yellow_tripdata_2019-01.csv')

taxi_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,1/1/2019 0:46,1/1/2019 0:53,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,1/1/2019 0:59,1/1/2019 1:18,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,12/21/2018 13:48,12/21/2018 13:52,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,11/28/2018 15:52,11/28/2018 15:55,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,11/28/2018 15:56,11/28/2018 15:58,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

In [3]:
taxi_df.shape

(1048575, 18)